.button {
  background-color: var(--bg-color-accent) !important;
  box-shadow: none !important;
  border: solid 1px var(--border-color) !important;
  color: var(--label-color) !important;
  text-transform: capitalize;
  min-height: 5.6rem;

  &:hover,
  &:active {
    opacity: 0.85;
  }
}

.tagsWrap {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  padding: 2.4rem 1.2rem;
  background-color: var(--bg-color-accent);
  border-radius: var(--sm-border-radius);

  & > * {
    margin: 0.8rem;
  }
}
