.root {
  background-color: var(--bg-color-accent);
  color: var(--text-color);
  border-radius: var(--border-radius);

  & .Mui-error .MuiSelect-root {
    border-color: var(--error-color) !important;
  }
}

.label {
  color: var(--label-color) !important;
  font-size: 1.5rem !important;
}

.labelFocus {
  color: var(--secondary-color) !important;
}

.selectRoot {
  color: var(--text-color) !important;
  font-size: 1.6rem !important;
  border-radius: var(--border-radius) !important;
  border: solid 1px var(--border-color) !important;
  background-color: var(--bg-color-accent) !important;
}

.selectIcon {
  color: var(--label-color);
}

.selectMenu {
  background-color: var(--bg-color-accent) !important;
  max-height: 25rem !important;

  li {
    font-size: 1.5rem !important;
    padding: 1rem 1.6rem;
  }
}
